/*********************
 * Collapsible menus *
 *********************/

#main.developerDocsPage .halfMenu {
  display:inline-block;
  vertical-align:top;
  width:200px;
  padding-top:1em;
  margin-top:-3px;
}
#main.developerDocsPage .halfMenu .developerDocsMenuModule > UL > LI {
  border-bottom:1px solid #CCC;
  padding:0.5em 0;
}
#main.developerDocsPage .halfMenu .developerDocsMenuModule > UL > LI:last-child {
  border-bottom:none;
}

#main.developerDocsPage .halfContentWrap {
  display:inline-block;
  vertical-align:top;
  width:780px;
  padding-left:10px;
  padding-right:10px;
}
#main.developerDocsPage .halfContentWrap .widthColumn {
  width:auto;
}
#main.developerDocsPage .halfMenuBtn {
  width:30px;
  position:fixed;
  left:10px;
  margin-top:0.7em;
}

#main.developerDocsPage .developerDocMenuButton {
  width: 30px;
  height: 30px;
  border: 1px solid #A3A2A2;
  border-radius: 4px;
  cursor: pointer;
  /* BEGIN #gradient > .vertical(#FFF, #D0D9E0);*/
  background-color: #ecf0f3;
  background-image: -moz-linear-gradient(top, #ffffff, #d0d9e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d0d9e0));
  background-image: -webkit-linear-gradient(top, #ffffff, #d0d9e0);
  background-image: -o-linear-gradient(top, #ffffff, #d0d9e0);
  background-image: linear-gradient(to bottom, #ffffff, #d0d9e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd0d9e0', GradientType=0);
  /* END #gradient > .vertical(#FFF, #D0D9E0); */
}

@media screen and (max-width: 1000px) {
  #main.developerDocsPage .halfMenu {
    display:none;
  }

  #main.developerDocsPage .halfMenu.opened {
    display:block;
    position:fixed;
    z-index:5;
    bottom:0;
    left:50px;
    right:0;
    width:auto;
    padding-top:0;
    margin-top:0;
    margin-right:0;
    background-color:#F4F8FC;
    overflow-x:auto;
  }
  #main.developerDocsPage .halfMenu.opened .developerDocsMenuSection {
    margin-top:0.7em;
  }

  #main.developerDocsPage .halfMenu .menuRetractable {
    font-size:1.5em;
  }

  #main.developerDocsPage .halfMenu .menuRetractable LI {
    padding-top:0.7em;
    padding-bottom:0.7em;
  }
  #main.developerDocsPage .halfMenu .menuRetractable LI LI:last-child {
    padding-bottom:0;
  }

  #main.developerDocsPage .halfMenu .menuRetractable .menuRetractable {
    /* change font for root menuRetractable only */
    font-size:1em;
  }

  #main.developerDocsPage .halfContentWrap {
    width:100%;
    padding-left:0;
    padding-right:0;
  }
  #main.developerDocsPage .halfContent {
    padding-left:50px;
    padding-right:0;
  }
}


@media screen and (min-width:1001px) {
  #main.developerDocsPage .halfMenuBtn {
    display:none;
  }
}

/* Designer styles */
#main.developerDocsPage>.widthFull > .widthColumn {
  background-color:#EEEEEE;
}
#main.developerDocsPage .developerDocsMenuSection {
  border-width:0;
  background-color:inherit;
}
#main.developerDocsPage .halfContentWrap {
  background-color:#FFF;
  min-height:1000px; /* hmmm */
}


/***********
 * Article *
 ***********/


/*
 * Icons
 */

#main.developerDocsPage H1 span.title-badge-leaderboards,
#main.developerDocsPage H1 span.title-badge-challenges,
#main.developerDocsPage H1 span.title-badge-cloud-storage,
#main.developerDocsPage H1 span.title-badge-realtime,
#main.developerDocsPage H1 span.title-badge-social-networks,
#main.developerDocsPage H1 span.title-badge-push-notifications {
  display:block;
  padding-left:140px;
  min-height:95px; padding-top:39px; /* 95 + 39 = 134 = image height */
  background-repeat:no-repeat;
  background-position:left center;
  background-color:transparent;
}
#main.developerDocsPage H1 span.title-badge-leaderboards       {background-image:url('/docs/img/badge_leaderboards.png');}
#main.developerDocsPage H1 span.title-badge-challenges         {background-image:url('/docs/img/badge_challenges.png');}
#main.developerDocsPage H1 span.title-badge-cloud-storage      {background-image:url('/docs/img/badge_cloud.png');}
#main.developerDocsPage H1 span.title-badge-realtime           {background-image:url('/docs/img/badge_reflex.png');}
#main.developerDocsPage H1 span.title-badge-social-networks    {background-image:url('/docs/img/badge_network.png');}
#main.developerDocsPage H1 span.title-badge-push-notifications {background-image:url('/docs/img/badge_notification.png');}

@media screen and (max-width: 479px) {
  #main.developerDocsPage H1 span.title-badge-leaderboards,
  #main.developerDocsPage H1 span.title-badge-challenges,
  #main.developerDocsPage H1 span.title-badge-cloud-storage,
  #main.developerDocsPage H1 span.title-badge-realtime,
  #main.developerDocsPage H1 span.title-badge-social-networks,
  #main.developerDocsPage H1 span.title-badge-push-notifications {
    background-size:50px 50px;
    padding-left:60px;
    min-height:40px; padding-top:10px; /* 40 + 10 = 50 = image height */
  }
}


/*
 * Headers
 */
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  /* revert change from bootstrap/type.less */
  line-height:normal;
  margin-top:1.25em;
  margin-bottom:.5em;
}
.article h1 { font-size:2.5em; }
.article h2 { font-size:2.0em; }
.article h3 { font-size:1.5em; }
.article h4 { font-size:1.2em; }
.article h5 { font-size:1.1em; }
.article h5 { font-size:1.0em; }
.article h1 {
  border-bottom: 3px solid #CCC;
}
.article h2 {
  border-bottom: 2px solid #CCC;
}
.article h3 {
  border-bottom: 1px solid #CCC;
}

.article > .header h1 {
  margin-top:.5em;
}


/*
 * Table of Contents
 */

.article .tocwrapper {
  width:30%;
  float:right;
}
.article .tocwrapper .toc {
  padding: 0.5em;
  background-color:#F4F8FC;
}
.article .tocwrapper .toc .toctitle {
  text-transform: uppercase;
  font-weight: bold;
}
.article .tocwrapper .toc UL {
  margin: 0;
}


/*
 * Footer
 */

.article > .footer {
  line-height:normal;
  margin-top:3em;
}
.article > .footer .footer-text,
.article > .footer .footer-license {
  margin-top:1em;
  font-size:70%;
  color:#666;
}
.article > .footer .footer-license img {
  opacity:.5;
  margin-bottom:.5em;
}
.article > .footer .footer-license:hover img {
  opacity:1;
}


/*
 * Miscellaneous
 */

.article > .content .monospaced {
  font-family: Cousine,"Liberation Mono",monospace;
  /*font-weight: normal;*/
  white-space: nowrap;
  padding: 2px 3px 0px;
  background-color: #EFEFEF;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}


/*
 * Adminition blocks
 */

.article > .content div.admonitionblock {
  margin-top: 1.0em;
  margin-bottom: 1.5em;
}
.article > .content div.admonitionblock {
  margin-top: 2.0em;
  margin-bottom: 2.0em;
  margin-right: 10%;
  color: #606060;
}
.article > .content div.admonitionblock .icon {
  vertical-align: top;
  width: 48px;
  /*
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  color: #527bbd;
  */
  padding-right: 0.5em;
}
.article > .content div.admonitionblock td.content {
  padding-left: 0.5em;
  border-left: 3px solid #dddddd;
}


/*
 * Definition lists
 */

.article > .content dl {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.article > .content dt {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-style: normal;
}
.article > .content dd > *:first-child {
  margin-top: 0.1em;
}
.article > .content dd {
  margin-left: 1.5em;
}
.article > .content div.hdlist,
.article > .content div.dlist {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.article > .content div.hdlist tr {
  padding-bottom: 15px;
}
.article > .content dt.hdlist1.strong, 
.article > .content td.hdlist1.strong {
  font-weight: bold;
}
.article > .content td.hdlist1 {
  vertical-align: top;
  font-style: normal;
  padding-right: 0.8em;
  color: navy;
}
.article > .content td.hdlist2 {
  vertical-align: top;
}
.article > .content div.hdlist.compact tr {
  margin: 0;
  padding-bottom: 0;
}


/*
 * Tables
 */

.article > .content table.tableblock {
  margin-top: 1.0em;
  margin-bottom: 1.5em;
}
.article > .content thead,
.article > .content p.tableblock.header {
  font-weight: bold;
}
.article > .content p.tableblock {
  margin-top: 0;
}
.article > .content table.tableblock {
  border-width: 3px;
  border-spacing: 0px;
  border-style: solid;
  border-color: #EEE;
  border-collapse: collapse;
}
.article > .content th.tableblock,
.article > .content td.tableblock {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: #EEE;
}

.article > .content table.tableblock.frame-topbot {
  border-left-style: hidden;
  border-right-style: hidden;
}
.article > .content table.tableblock.frame-sides {
  border-top-style: hidden;
  border-bottom-style: hidden;
}
.article > .content table.tableblock.frame-none {
  border-style: hidden;
}

.article > .content th.tableblock.halign-left,
.article > .content td.tableblock.halign-left {
  text-align: left;
}
.article > .content th.tableblock.halign-center,
.article > .content td.tableblock.halign-center {
  text-align: center;
}
.article > .content th.tableblock.halign-right,
.article > .content td.tableblock.halign-right {
  text-align: right;
}

.article > .content th.tableblock.valign-top,
.article > .content td.tableblock.valign-top {
  vertical-align: top;
}
.article > .content th.tableblock.valign-middle,
.article > .content td.tableblock.valign-middle {
  vertical-align: middle;
}
.article > .content th.tableblock.valign-bottom,
.article > .content td.tableblock.valign-bottom {
  vertical-align: bottom;
}
